<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <h1>Raman Lewis</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, aperiam minus voluptates neque adipisci maxime nesciunt quidem accusantium vel natus aspernatur magnam, rerum quasi officiis eius ex quaerat debitis excepturi magni delectus recusandae
        commodi. Voluptatem eaque tenetur rerum debitis, ab distinctio laudantium. Error libero, dolorum eius omnis facere autem doloribus dicta maxime asperiores? Nesciunt sit dolor, facilis atque vel consectetur totam autem, sunt unde fugit minima quos
        eaque animi dolorem praesentium eveniet eum! Repellendus suscipit voluptates ex unde adipisci accusantium fuga quasi aliquam in sapiente quia voluptatibus laboriosam rem tenetur, assumenda, sunt blanditiis, velit sequi tempore. Ratione magni optio
        atque!
    </p>
</body>

</html>